{% extends "layout.html" %}
{% block body %}
    <h1>✨ Welcome 8th Graders ✨</h1>

    <div class="button-container">
        <a href="/schedule" class="maker" style="text-decoration: none;">
            <button class="cute-btn classes-btn maker">Classes Maker 📚</button>
        </a>
        <button class="cute-btn questions-btn">Questions ❓</button>
        <a href="https://docs.google.com/spreadsheets/d/1xU9_IDbBnHDpaI4mSa6U9QMAw6cDLdWOzCbvaB9IG50/edit?gid=0#gid=0">
            <button class="cute-btn clubs-btn">Clubs Offered 🎭</button>
        </a>
    </div>
{% endblock %}