{% extends "layout.html" %}
{% block body %}
<script src="/js/schedule.js"></script>
<div class="schedule-container">
    <h1 class="schedule-title">1 Year Schedule</h1>
    <table cellpadding = "10" cellspacing = "10">
        <tr>
            <td>
                <select id="elective-dropdown-1" class="schedule-dropdown">
                    <option value="">Choose a Health Class</option>
                    {% if slot1 == "ENS 1-2" %}
                        <option value="ENS 1-2" selected>ENS 1-2</option>
                    {% else %}
                        <option value="ENS 1-2">ENS 1-2</option>
                    {% endif %}

                    {% if slot1 == "ENS 1-2 Online" %}
                        <option value="ENS 1-2 Online" selected>ENS 1-2 Online</option>
                    {% else %}
                        <option value="ENS 1-2 Online">ENS 1-2 Online</option>
                    {% endif %}

                    {% if slot1 == "Unified PE 1-2" %}
                        <option value="Unified PE 1-2" selected>Unified PE 1-2</option>
                    {% else %}
                        <option value="Unified PE 1-2">Unified PE 1-2</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-2" class="schedule-dropdown">
                    <option value="">Choose a PE Credits Class</option>
                    {% if slot2 == "ENS 3-4" %}
                        <option value="ENS 3-4" selected>ENS 3-4</option>
                    {% else %}
                        <option value="ENS 3-4">ENS 3-4</option>
                    {% endif %}

                    {% if slot2 == "Marching Band" %}
                        <option value="Marching Band" selected>Marching PE with Band</option>
                    {% else %}
                        <option value="Marching Band">Marching PE with Band</option>
                    {% endif %}

                    {% if slot2 == "NJROTC" %}
                        <option value="NJROTC" selected>NJROTC</option>
                    {% else %}
                        <option value="NJROTC">NJROTC</option>
                    {% endif %}

                    {% if slot2 == "OCIS" %}
                        <option value="OCIS" selected>OCIS</option>
                    {% else %}
                        <option value="OCIS">OCIS</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="elective-dropdown-3" class="schedule-dropdown">
                    <option value="">Choose an English Class</option>
                    {% if slot3 == "English 1-2" %}
                        <option value="English 1-2" selected>English 1-2</option>
                    {% else %}
                        <option value="English 1-2">English 1-2</option>
                    {% endif %}

                    {% if slot3 == "Honors English 1-2" %}
                        <option value="Honors English 1-2" selected>Honors English 1-2</option>
                    {% else %}
                        <option value="Honors English 1-2">Honors English 1-2</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-4" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                                            {% if slot4 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <select id="elective-dropdown-5" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                    {% if slot5 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-6" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                                            {% if slot6 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="elective-dropdown-7" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                                            {% if slot7 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-8" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                                            {% if slot8 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

    <div class="button-group">
        <button class="save-button" id = "save-btn"onclick="CopySchedule()">Copy Schedule</button>
        <a href="/" class="back-button">← Back to Home</a>
    </div>
</div>
<div class = "center">
    <h1>
        FAQ
    </h1>
    <br>
    <h2>
        What is online ENS?
    </h2>
    <p>
        Online ENS is a hybrid class where you spend 2 days a week doing PE, one day of swimming
        and one day of another activity. The other 3 days, you will get offroll during period 4
        to work on online Canvas assignments. It is always period 4, and I highly reccomend this class 
        because it provides a lot of flexibility and most of the time the assignments only take around
        1 day to complete, so you get a lot of free time during offroll. You may not be guaranteed to get this class
        but if you take a 2 term elective class (eg. band, yearbook, orchestra, Nexus), then you will most likely
        get the class.
    </p>
    </div>
<script>
function CopySchedule()
{
    console.log(document.getElementById('save-btn').innerHTML);
    document.getElementById('save-btn').innerHTML = "Copied!";
    setTimeout(() => {
        document.getElementById('save-btn').innerHTML = "Copy Schedule";
    }, 2000);
    text = "http://127.0.0.1:5000/schedule?"
    for (i = 1; i <= 8; i++)
    {
        if (i != 1) {text += "&"}
        text += "slot" + i + "="
        text += document.getElementById('elective-dropdown-' + i).value
    }
    navigator.clipboard.writeText(text);
    
    try {
        navigator.clipboard.writeText(text);
    }
    catch (err) {
        alert('Failed to copy: ', err);
  }
}
</script>
{% endblock %}