body {
    background-image: url('../images/wood-background.jpg');
    width: 100%;
    font-family: 'Sedan', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;

    margin-top: 12.5%;
}

#imagesList {
    display: flex;
}

/* CARD CONTAINER */

figure {
    position: relative;
    width: 200px;
    height: 200px; /* Adjust the height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: sway 5s infinite alternate ease-in-out;
}

figure img {
    width: 100%;
    height: 100%;
    display: block;
    border: 5px solid white; /* Polaroid frame */
}

figcaption {
    text-align: center;
    padding: 5px;
    background-color: white;
    font-family: Arial, sans-serif;
    margin-left: 10px;
}

.pin {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    margin: 0 50%;
    border-radius: 50%;
    animation: none !important;
    border: 5px solid black;
  }

.imageForm .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.buttons > button {
    padding: 2%;
}

.buttons > .modifyBtn {
    background-color: green;
}

.buttons > .deleteBtn {
    background-color: red;
}

@keyframes sway {
    0% { transform: rotate(-3deg); }
    100% { transform: rotate(3deg); }
}

/* CREATE CARD */

#createImage {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    color: black;
}

#createImage form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 50%;
    padding-bottom: 15%;
}

#createImgTitle, #createImgDescription, #createImgSrc {
    padding: 7.5%;
}

.submit {
    padding: 10% 25%;
    border-radius: 15%;
    background-color: #e2e8f0;
}