<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8th Grade High School Transition</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&family=Sedan:ital@0;1&display=swap" rel="stylesheet">
    <script src="/public/js/main.js"></script>
</head>

<body>
    <h1>
        Welcome 8th Graders
    </h1>


    <button class="classes-maker-btn">Classes Maker</button>
    <button class="schedule-maker-btn">Schedule Maker</button>
