{% extends "layout.html" %}
{% block body %}
    <h1>✨ Welcome 8th Graders ✨</h1>

    <div class="button-container">
        <a href="/schedule" class="maker" style="text-decoration: none;">
            <button class="cute-btn classes-btn maker">Schedule Maker 📚</button>
        </a>
        <a href="/links" target ="_blank">
            <button class="cute-btn clubs-btn maker">Links and Resources 🎭</button>
        </a>
         <a href="/advice">
            <button class="cute-btn clubs-btn maker">What high schoolers say 🎭</button>
        </a>
    </div>
{% endblock %}