{% extends "layout.html" %}
{% block body %}
    </div>
    <div class="button-container">
        <a href="/" class="back-button">← Back to Home</a>
    </div>
    <br>
    <br>
    <div class = center>
        <h2>
            Are you a high schooler?
        </h2>
    </div>
    <div class="button-container">
        <a href="/submitadvice" class="cute-btn classes-btn">Post advice here!</a>
    </div>
    <br>
    <br>
    {% for quote in advice_csv %}
        {% if quote[1] == "" %}
            <p>{{ quote[0] }}</p>
        {% else %}
            <p>{{ quote[1] }}: {{ quote[0] }}</p>
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}