{% extends "layout.html" %}
{% block body %}
<div class = center>
    <h1>Welcome 8th Graders</h1>
</div>
    <div class="button-container">
        <a href="/schedule">
            <button class="cute-btn questions-btn maker">Schedule Maker</button>
        </a>
         <a href="/advice">
            <button class="cute-btn questions-btn maker">What High Schoolers Say</button>
        </a>
        <a href="/links">
            <button class="cute-btn questions-btn maker">Links and Resources</button>
        </a>
         <a href="https://forms.gle/kcdTys4ZJbJon3xu6" target="_blank">
            <button class="cute-btn questions-btn maker">Contact us!</button>
        </a>
    </div>
{% endblock %}