{% extends "layout.html" %}
{% block body %}
<div class = "center"><br><br><br><br><br>
    <h1>Links and Resources</h1>
    <div class="button-container">
        <a href="/" class="back-button">← Back to Home</a>
    </div>
    <br><br><br>
    <div class="button-container">
        <a href="https://classy-saltopus-e01.notion.site/Westview-Compass-2c6ebdc1bedf8074a4e6ce579921bae3" target ="_blank">
            <button class="cute-btn classes-btn maker">Westview Compass</button>
        </a>
        <p>
            A helpful website where students anonymously write reviews and advice about whether you should take a certain class.
        </p>
        <a href="https://docs.google.com/spreadsheets/d/1xU9_IDbBnHDpaI4mSa6U9QMAw6cDLdWOzCbvaB9IG50/edit?gid=0#gid=0" target ="_blank">
            <button class="cute-btn classes-btn maker">Clubs</button>
        </a>
        <p>
            A spreadsheet of every club offered, with a decent amount of information about each club.
        </p>
        <a href="https://westview.powayusd.com/apps/events" target ="_blank">
            <button class="cute-btn classes-btn maker">Calendar</button>
        </a>
        <p>
            Westview's own calendar to see upcoming events, make sure to toggle the calendars you want to view in the bottom right.
        </p>
        <a href="https://westview.powayusd.com/apps/pages/learning-schedule" target ="_blank">
            <button class="cute-btn classes-btn maker">Daily Schedule</button>
        </a>
        <p>
            Westview's daily schedule for knowing when classes begin and end, especially on wonky days.
        </p>
        <a href="https://drive.google.com/file/d/1bjG6BAm1KaRu3k0NrStanUhLR7q6RlcB" target ="_blank">
            <button class="cute-btn classes-btn maker">Course Catalog</button>
        </a>
        <p>
            Westview's 26-27 course catalog, with every single course that is offered for the upcoming year, in addition to some extra information.
        </p>
    </div>
    <br><br><br><br>
</div>
{% endblock %}