{% extends "layout.html" %}
{% block body %}
<script src="/js/schedule.js"></script>
<div class="schedule-container">
    <h1 class="schedule-title">1 Year Schedule</h1>
    <table cellpadding = "10" cellspacing = "10">
        <tr>
            <td>
                <select id="elective-dropdown-1" class="schedule-dropdown">
                    <option value="">Choose a Health Class</option>
                    {% if slot1 == "ENS 1-2" %}
                        <option value="ENS 1-2" selected>ENS 1-2</option>
                    {% else %}
                        <option value="ENS 1-2">ENS 1-2</option>
                    {% endif %}

                    {% if slot1 == "ENS 1-2 Online" %}
                        <option value="ENS 1-2 Online" selected>ENS 1-2 Online</option>
                    {% else %}
                        <option value="ENS 1-2 Online">ENS 1-2 Online</option>
                    {% endif %}

                    {% if slot1 == "Unified PE 1-2" %}
                        <option value="Unified PE 1-2" selected>Unified PE 1-2</option>
                    {% else %}
                        <option value="Unified PE 1-2">Unified PE 1-2</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-2" class="schedule-dropdown">
                    <option value="">Choose a PE Credits Class</option>
                    {% if slot2 == "ENS 3-4" %}
                        <option value="ENS 3-4" selected>ENS 3-4</option>
                    {% else %}
                        <option value="ENS 3-4">ENS 3-4</option>
                    {% endif %}

                    {% if slot2 == "Marching Band" %}
                        <option value="Marching Band" selected>Marching PE with Band</option>
                    {% else %}
                        <option value="Marching Band">Marching PE with Band</option>
                    {% endif %}

                    {% if slot2 == "NJROTC" %}
                        <option value="NJROTC" selected>NJROTC</option>
                    {% else %}
                        <option value="NJROTC">NJROTC</option>
                    {% endif %}

                    {% if slot2 == "OCIS" %}
                        <option value="OCIS" selected>OCIS</option>
                    {% else %}
                        <option value="OCIS">OCIS</option>
                    {% endif %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="elective-dropdown-3" class="schedule-dropdown">
                    <option value="">Choose an English Class</option>
                    {% if slot3 == "English 1-2" %}
                        <option value="English 1-2" selected>English 1-2</option>
                    {% else %}
                        <option value="English 1-2">English 1-2</option>
                    {% endif %}

                    {% if slot3 == "Honors English 1-2" %}
                        <option value="Honors English 1-2" selected>Honors English 1-2</option>
                    {% else %}
                        <option value="Honors English 1-2">Honors English 1-2</option>
                    {% endif %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-4" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                    {% if slot4 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                <select id="elective-dropdown-5" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                    {% if slot5 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-6" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                                            {% if slot6 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <select id="elective-dropdown-7" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                                            {% if slot7 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select id="elective-dropdown-8" class="schedule-dropdown">
                    <option value="">Choose an Elective</option>
                    {% for class in classes %}
                                            {% if slot8 == class[0] %}
                        <option value="{{ class[0] }}" selected>{{ class[0] }}</option>
                    {% else %}
                        <option value="{{ class[0] }}">{{ class[0] }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
        </tr>
    </table>

    <div class="button-group">
        <button class="save-button" id = "save-btn"onclick="CopySchedule()">Copy Schedule</button>
        <a href="/" class="back-button">← Back to Home</a>
    </div>
</div>
<div class = "center">
    <h1>
        FAQ
    </h1>
    <br><br><br>
    <h2>
        What is online ENS?
    </h2>
    <p>
        Online ENS is a hybrid class where you spend 2 days a week doing PE, one day of swimming
        and one day of another activity. The other 3 days, you will get off roll during period 4
        to work on online Canvas assignments. It is always period 4, and I highly recommend this class 
        because it provides a lot of flexibility and most of the time the assignments only take around
        1 day to complete, so you get a lot of free time during offroll. You may not be guaranteed to get this class,
        but if you take a 2 term elective class (eg. band, yearbook, orchestra, Nexus), then you will most likely
        get the class.
    </p>
    <br><br><br>
    <h2>
        How does a 4x4 schedule work?
    </h2>
    <p>
        A 4x4 schedule means that 4 courses are for the first semester, and another 4 courses are taken in the
        second semester. This means that each day, you will have 4 classes with the same teachers for the first half of the year,
        then you will get another set of teachers and classes for the back half of the year. Don't get confused by course names though,
        courses called "English 1-2" are only one semester, this is because the course is "English 1" in quarter 1, and "English 2"
        in quarter 2, which are both taught by the same teacher, in the same class. Any courses that are linked to another course
        (see key word "with" in our list of courses) are a full year course, for example, "Honors Biology 1-2 with AP Biology 3-4"
        is a full year course, with "Honors Biology 1-2" as the first semester course, and "AP Biology 3-4" as the second semester course.
    </p>
    <br><br><br>
    <h2>
        Am I allowed to take AP courses as a 9th grader?
    </h2>
    <p>
        Almost all courses are offered to all grade levels, with a few exceptions, such as English or history classes.
        This does mean that a student is allowed to (but highly not recommend) take 3 AP classes in their 9th grade year.
        Do note that most classes have a recommended prerequisite that should be viewed before selecting the class.
    </p>
    <br><br><br>
    <h2>
        How do PE credits work with non-ENS courses
    </h2>
    <p>
        ENS 3-4 is the default course that must be taken to complete the PE credit requirement for 9th graders,
        but you are allowed to take another course instead to not have to take ENS 3-4.
        Such courses include marching band or NJROTC, or OCIS (OCIS is akin to an offroll that is offered to
        students who do enough recognized exercise out of school). These courses (not including OCIS)
        will grant you 5 PE credits, versus the 10 from ENS 3-4, but taking one of these courses repeatedly
        each year will grant enough PE credits to graduate. Another form of PE credits is through sports.
        Each sport will grant 5 PE credits each, and accumulate over the years, but remember to register for
        the credits, otherwise you may become ineligible for gaining said credits.
    </p>
    <br><br><br>
    <h2>
        What is an L/ or ELL/ELD class?
    </h2>
    <p>
        These classes are classes meant for students that may need extra support in order to learn what the normal curriculum
        teaches.
    </p>
    <br><br><br>
    </div>
<script>
function CopySchedule()
{
    console.log(document.getElementById('save-btn').innerHTML);
    document.getElementById('save-btn').innerHTML = "Copied!";
    setTimeout(() => {
        document.getElementById('save-btn').innerHTML = "Copy Schedule";
    }, 2000);
    text = window.location.host + "/schedule?"
    for (i = 1; i <= 8; i++)
    {
        if (i != 1) {text += "&"}
        text += "slot" + i + "="
        text += document.getElementById('elective-dropdown-' + i).value
    }
    navigator.clipboard.writeText(text);
    
    try {
        navigator.clipboard.writeText(text);
    }
    catch (err) {
        alert('Failed to copy: ', err);
  }
}
</script>
{% endblock %}