{% extends "layout.html" %}
{% block body %}

<div class = "schedule-container">
    <form action="/submitted" method="get">
            <textarea rows = 1 autocomplete="off" name = "name" placeholder="Name" wrap="soft"></textarea>
            <textarea rows = 10 col = "50" autocomplete="off" required autofocus name = "advice" placeholder="Advice here*" wrap="soft"></textarea>
            <br><br><br><br>
        <div class = "button-container">
        <button type="submit" class = "cute-btn">Submit</button>
        </div>
    </form>
    <div class = "button-container">
        <a href="/" class="back-button">← Back to Home</a>
    </div>
</div>
{% endblock %}